{% load tags %}
{% popular_posts as posts %}

<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">Trending</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
            {% for post in posts %}
                <div class="item px-2" >
                    <a href="{% url 'blog:get_article' post.slug %}">
                    <div class="fh5co_hover_news_img">
                        <div class="fh5co_news_img" ><img src="{{ post.image.url }}" alt="Не загрузилось" width="100%" height="100%"/></div>
                        <div>
                            <a href="{% url 'blog:get_article' post.slug %}" class="d-block fh5co_small_post_heading"><span class="">{{ post.title }}</span></a>
                            <div class="c_g"><i class="fa fa-clock-o"></i> {{ post.created_at }}</div>
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
