{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ article.title }} :: Roflan Pominki News
{% endblock %}

{% block content %}

    <div id="fh5co-title-box" style="background-image: url({{ article.image.url }}); background-position: 50%;" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="page-title">
            <span>{{ article.author }}</span>
            <span>{{ article.created_at }}</span>
            <h2>{{ article.title }}</h2>
        </div>
    </div>
    <div id="fh5co-single-content" class="container-fluid pb-4 pt-4 paddding">
        <div class="container paddding">
            <div class="row mx-0">
                <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                    <p>{{ article.content|safe }}</p>
                    <p><b>Просмотров:</b> {{ article.views }}</p>
                    <p>
                        Тэги:
                        {% for tag in tags %}
                            <a href="{{ tag.get_absolute_url }}"> {{ tag }} </a>
                        {% endfor %}
                    </p>
                </div>
                {% include 'blog/includes/_sidebar.html' %}
            </div>
        </div>
    </div>
    {% include 'blog/includes/_trending_small.html' %}

    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script>if (!navigator.userAgent.match(/Android|BlackBerry|iPhone|iPad|iPod|Opera Mini|IEMobile/i)){$(window).stellar();}</script>

{% endblock %}

